.container {
  animation-duration: 320ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  cursor: pointer;

  article {
    height: 40rem;
    width: 32rem;

    overflow: hidden;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 6px 16px rgba(56, 87, 140, 0.3);
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;

    img {
      position: absolute;
      top: 0;
      z-index: 1;
      transition: transform 0.5s linear, -webkit-transform 0.5s linear;
      height: 100%;
      width: 100%;
      transform: scale(1);
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.container:hover {
  img {
    transform: scale(1.05);
  }
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 3.5rem;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(24, 67, 140, 0.5) 0%,
    rgba(24, 67, 140, 0.8) 50%,
    rgba(24, 67, 140, 0.9) 100%
  );
  background-position: 0 0;
  transition: background-position 0.3s ease;
  background-size: 200% 200%;
}

.content:hover {
  background-position: 100% 100%;
}

.content__customer {
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
}

.content__title {
  text-align: left;
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 600;
}
