@import 'src/styles/constants';

.container {
  height: calc(100vh - 6.4rem);
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 3rem;
  position: relative;
}

.outer {
  height: calc(100vh - 9.4rem);
  background: $trBg;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: none;
  background-position: center 50%;
  background-image: url(../../../../../static/images/board.jpg);
  clip-path: ellipse(108% 63% at 26% 34%);
}

.inner {
  width: 100%;
  height: 100%;
  background: $trBg;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 10%;
}

.content {
  font-size: 1.6rem;
  max-width: 650px;
  font-family: $font;

  h2 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 3rem;
    margin: 0;
    font-size: 4.8rem;
    max-width: none;
    color: $text;
  }

  p {
    color: $text;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 300;
    padding-bottom: 2rem;
    margin: 0;
  }
}
