@import 'src/styles/constants';

.button {
  @extend %centeredFlex;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  background: none;
  position: relative;
  color: $primaryColor;
  padding: 0;
}
