.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  button {
    outline: none;
    border: none;
    background: none;
  }

  button:hover {
    filter: invert(0.3);
  }

  button:disabled {
    filter: invert(1);
  }

  button:nth-child(1) {
    transform: scaleX(-1);
  }
}

.frame {
  position: absolute;

  z-index: 0;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
