@import 'src/styles/constants';

.container {
  background: $altBG;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  @extend %marginContent;

  a:nth-child(4n-1),
  a:nth-child(4n-2) {
    width: calc(40% - 20px);
  }

  a:nth-child(4n-3),
  a:nth-child(4n-4) {
    width: calc(60% - 20px);
  }

  a {
    margin: 10px;
  }

  @media (max-width: 1000px) {
    a:nth-child(4n-1),
    a:nth-child(4n-2),
    a:nth-child(4n-3),
    a:nth-child(4n-4) {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 600px) {
    a:nth-child(4n-1),
    a:nth-child(4n-2),
    a:nth-child(4n-3),
    a:nth-child(4n-4) {
      width: calc(100% - 20px);
    }
  }
}
