$primaryColor: #005faf;
$secondaryColor: #34d2d2;

$primaryColorRev: #fff;

$textBase: #3d4c65;

$text: #fff;
$textRev: #000;

$textSecondary: #a1a7b2;

// BACKGROUND

$mainBG: #fff;
$altBG: #f2f6fa;

$mainBGRev: #18438c;
$inputBg: #3a5f9d;

$trBg: rgba(24, 67, 140, 0.9);

$gradient: linear-gradient(
  337.6deg,
  rgba(24, 67, 140, 0.9) 4.54%,
  rgba(0, 95, 175, 0.77) 52.04%,
  rgba(0, 95, 175, 0.2) 98.83%
);

// FONTS

$font: 'Montserrat', sans-serif;
$altfont: 'Ubuntu', sans-serif;

// THEME 2

$primaryColor2: #ff823c;
$secondaryColor2: #ffbc47;

// extend

%centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%marginContent {
  margin-top: 4rem;
  @media (max-width: 1000px) {
    margin-top: 2rem;
  }
  @media (max-width: 600px) {
    margin-top: 1rem;
  }
}

%paragraph {
  color: $textBase;
  font-size: 2rem;
  font-family: $altfont;
  line-height: 1.5;
}

%paragraph2 {
  color: $textBase;
  font-size: 1.8rem;
  font-family: $altfont;
  line-height: 1.4;
}

%p600 {
  @media (max-width: 600px) {
    p {
      font-size: 2rem;
      text-align: justify;
      text-indent: 3rem;
      line-height: 1.2;
    }
  }
}

%cards {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  justify-content: space-between;
}

%cards30 {
  @extend %cards;
  a {
    width: calc(30% - 10px);
    min-height: 25rem;
  }

  @media (max-width: 1000px) {
    justify-content: center;
    a {
      width: 100%;
      min-height: 10rem;
      margin-bottom: 20px;
    }
  }
}

%cards50 {
  @extend %cards;
  a {
    width: calc(50% - 10px);
    min-height: 25rem;
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    justify-content: center;
    a {
      width: 100%;
      min-height: 10rem;
      margin-bottom: 20px;
    }
  }
}

%cards100 {
  @extend %cards;
  a {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 20px;
  }
}
