$primaryColor: #005faf;
$secondaryColor: #34d2d2;

$primaryColorRev: #fff;

$textBase: #3d4c65;

$text: #fff;
$textRev: #000;

$textSecondary: #a1a7b2;

// BACKGROUND

$mainBG: #fff;
$altBG: #f2f6fa;

$mainBGRev: #18438c;

$inputBg: #3a5f9d;

$trBg: rgba(24, 67, 140, 0.9);

// FONTS

$font: 'Montserrat', sans-serif;
$altfont: 'Ubuntu', sans-serif;

// THEME 2

$primaryColor2: #ff823c;
$secondaryColor2: #ffbc47;
