@import 'src/styles/constants';

.outer {
  background-color: $mainBGRev;
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: $text;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  border-bottom: none;
  background-position: center 50%;
  background-image: url(src/assets/pics/bg/team.jpg);
}

.outer:before {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: inherit;
  opacity: 0.85;
}

.inner {
  // height: 14rem;
  z-index: 2;
  position: relative;
  padding: 0 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 120rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.progress__container {
  line-height: 1.3;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.progress__item {
  max-width: 18rem;
  font-family: inherit;
  padding: 0;
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 0;
  font-family: $font;
  -webkit-box-flex: 0;

  @media (max-width: 640px) {
    padding: 0;
    flex: 0 0 calc(50% - 10px);
    min-width: 0;
    margin-bottom: 24px;
  }
}

.progress__item_value {
  text-align: center;
  color: $secondaryColor;
  font-weight: 600;
  font-size: 6.4rem;
}

.progress__item_label {
  color: $text;
  text-align: center;
  font-size: 1.8rem;
}
