.contact__info {
  width: 40rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  margin-right: 90px;
  border-color: #fff;
  padding-top: 20px;
}

.wrapper {
  font-style: normal;
  font-weight: 400;
  -webkit-box-direction: normal;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
  font-family: inherit;
  padding-right: 20px;
  -webkit-box-flex: 1;
  flex: 1 1 50%;
  margin-right: 20px;
  max-width: none;
  padding-bottom: 10px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;

  h3 {
    font-style: normal;
    -webkit-box-direction: normal;
    color: #fff;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 25px;
  }

  h4 {
    font-style: normal;
    -webkit-box-direction: normal;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 700;
  }

  p {
    font-style: normal;
    font-weight: 400;
    -webkit-box-direction: normal;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: inherit;
    margin-bottom: 24px;
  }

  div {
    font-style: normal;
    font-weight: 400;
    -webkit-box-direction: normal;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: inherit;
    white-space: nowrap;
    margin-bottom: 20px;
    display: flex;
  }

  a {
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    -webkit-box-direction: normal;
    font-size: 18px;
    line-height: 1.6;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
  }
}
