@import 'src/styles/constants';

.contact__info {
  width: 40rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  margin-right: 90px;
  border-color: $mainBG;
  padding-top: 20px;

  @media (max-width: 1200px) {
    width: 100%;
    padding-top: 0;
  }
}

.wrapper {
  color: $text;
  font-size: 18px;
  line-height: 1.6;
  font-family: inherit;
  padding-right: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
  font-family: $font;

  h3 {
    color: $text;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 25px;
  }

  h4 {
    color: $text;
    font-size: 18px;
    line-height: 1.6;
    font-family: inherit;
    font-weight: 700;
  }

  p {
    color: $text;
    font-size: 18px;
    line-height: 1.6;
    font-family: inherit;
    margin-bottom: 24px;
  }

  div {
    color: $text;
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 20px;
    display: flex;
  }

  a {
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6;
    font-family: inherit;
    color: $text;
    transition: color 0.3s ease;
  }

  @media (max-width: 1200px) {
    padding-right: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #d0d7e5;

    margin-top: 40px;
    padding-bottom: 20px;
    h3 {
      width: calc(30% - 10px);
    }

    div {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: space-around;
    h3 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.wrapper:first-child {
  border-bottom: 2px solid #d0d7e5c5;
}

.inner__desc,
.inner__links {
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    width: calc(30% - 10px);
  }

  @media (max-width: 1000px) {
    width: calc(50% - 10px);
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
