@import 'src/styles/constants';

.navigation {
  display: flex;
}

.navigation__links {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    color: $textBase;
    padding: 0 1.5rem;
  }

  li:hover {
    color: $secondaryColor;
  }

  a {
    font-family: $font;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    list-style: none;
    text-align: center;
    display: block;
    padding: 0.75em 0.8em;
    transition: color 0.3s ease;
    color: inherit;
  }
}
