.container {
  font-family: 'Ubuntu', sans-serif;
  color: #3d4c65;
}

.text {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.6;
}

.content {
  line-height: 1.33;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
