.container {
  font-family: 'Ubuntu', sans-serif;
  color: #3d4c65;
  margin-top: 4rem;
}

.text {
  max-width: 70rem;
  font-size: 1.8rem;
}

.content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
