.content {
  line-height: 1.33;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
