.button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

.button:hover {
  filter: invert(0.3);
}

.button:disabled {
  filter: invert(1);
}

.button:nth-child(1) {
  transform: scaleX(-1);
}
