@import 'src/styles/constants';

.button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  width: 4rem;
  height: 4rem;
}

.icon {
  width: 4rem;
  height: 4rem;

  color: $secondaryColor;

  @media (max-width: 600px) {
    width: 3rem;
    height: 3rem;
  }
}

.button:hover {
  filter: invert(0.3);
}

.button:disabled {
  filter: invert(1);
}

.button:nth-child(1) {
  transform: scaleX(-1);
}
