@import 'src/styles/constants';

.container {
  background: $altBG;
}

.content {
  @extend %marginContent;
  @extend %cards50;
}

.nav {
  @extend %centeredFlex;
  margin-top: 4rem;
  width: 100%;
}
