@import 'src/styles/constants';

.contact__form {
  width: 100%;
  h3 {
    font-family: $font;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 10px;
    font-size: 28px;
    color: $secondaryColor;
    text-align: left;
  }

  @media (max-width: 1200px) {
    margin-top: 40px;
  }
}

.contact__form_inputs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.contact__form_input {
  display: inline-block;

  ::placeholder {
    color: $primaryColorRev;
  }
}

.contact__form_input {
  font-style: normal;
  padding: 10px;
  margin: 0;
  text-align: left;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  input,
  textarea {
    caret-color: $secondaryColor;
    font-size: 1.8rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 20px 60px 20px 25px;
    font-weight: 500;
    transition: background-color 0.3s ease, border 0.3s ease;
    outline: 0;
    background: $inputBg;
    background-clip: padding-box;
  }
}

.contact__form_input.text {
  max-width: 50%;

  @media (max-width: 1000px) {
    max-width: 100%;
  }
}

.contact__form_input.textarea {
  width: 100%;
  textarea {
    resize: none;
  }
}
.contact__form_input.file {
  width: 16rem;
  position: relative;
  cursor: pointer;
  input {
    width: 1rem;
    cursor: pointer;
    background: transparent;
    opacity: 0;
    z-index: 3;
  }
}

.contact__form_input.file:before {
  content: 'Attach file';
  background: url(../../../assets/icons/attachment.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 50%;
  -webkit-filter: invert(1);
  filter: invert(1);
  font-size: 1.8rem;
  padding: 20px 25px;
  font-weight: 600;
  position: absolute;
  left: 25px;
  color: $textRev;
  cursor: pointer;
}

.contact__form_input {
  input[type='text']:focus,
  input[type='email']:focus,
  textarea:focus {
    background: transparent;
    border-color: $secondaryColor;
  }
}

.contact_form_submit {
  padding-left: 10px;

  @media (max-width: 1000px) {
    text-align: center;
    padding: 0;
  }
}
