@import 'src/styles/constants';

.container {
  animation-duration: 320ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  box-shadow: 0 6px 16px rgba(56, 87, 140, 0.2);
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  color: $textBase;
  padding: 3.2rem;
  cursor: pointer;
  background: $mainBG;
  visibility: visible;
  svg {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  @extend %p600;
}

.container:hover {
  box-shadow: 0 2px 6px rgba(56, 87, 140, 0.2);
  animation-delay: 240ms;
  visibility: visible;

  svg {
    opacity: 1;
  }
}

.card__heading {
  padding-bottom: 1.2rem;
  position: relative;
  margin: 0 0 1.6rem;
  font-family: $font;
  font-weight: 600;
  line-height: 3.2rem;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__heading:after {
  content: '';
  display: block;
  position: absolute;
  width: 8rem;
  bottom: 0;
  border-top: 2px solid $secondaryColor;
  left: 0;
}

.card__description {
  font-size: 1.6rem;
  font-family: $font;
  color: $textBase;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0;

  @media (max-width: 1200px) {
    line-height: 1.3;
  }
}
