@import 'src/styles/constants';

.container {
  z-index: 1000;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: $mainBG;
  padding: 1.6rem;
  box-shadow: 0 4px 8px rgba(56, 87, 140, 0.15),
    0 10px 20px rgba(56, 87, 140, 0.05);

  h1 {
    display: flex;
    color: $primaryColor;
    transition: color 0.3s ease;
  }

  h1:hover {
    color: $secondaryColor;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 112rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}
