.container {
  animation-duration: 320ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  box-shadow: 0 6px 16px rgba(56, 87, 140, 0.2);
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  color: #3d4c65;
  width: 340px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  user-select: none;

  article {
    padding: 20px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.container:hover {
  box-shadow: 0 2px 6px rgba(56, 87, 140, 0.2);
  animation-delay: 240ms;
}

.card__heading {
  user-select: none;
  color: inherit;
  transition: color 0.3s ease;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.card__heading:hover {
  color: #34d2d2;
}

.card__description {
  line-height: 1.5;
  font-size: 16px;
}

.card__details {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 14px;
    color: #a1a7b2;
  }
}
