@import 'src/styles/constants';

.container {
  display: flex;
  @extend %marginContent;

  p {
    color: $textBase;
    font-size: 2rem;
    font-family: $altfont;
    line-height: 1.5;
  }
  @extend %p600;
}

.image__wrapper {
  width: 36rem;
  min-width: 36rem;
  margin-left: 4rem;
  position: relative;
  overflow: hidden;
  border-radius: 60px 6px 6px 6px;

  @media (max-width: 1000px) {
    display: none;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
