.container {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  color: #3d4c65;
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #005faf;
    max-width: 700px;
    margin: 0;
    font-size: 42px;
    display: inline;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1120px;
  padding-left: 30px;
  padding-right: 30px;
}

.label {
  color: #34d2d2;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 55px;
  position: relative;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  margin-top: -1px;
  border-top: 2px solid currentColor;
}
