.container {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.33;
  color: #3d4c65;
  padding-top: 8rem;
  padding-bottom: 8rem;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #005faf;
    max-width: 70rem;
    margin: 0;
    font-size: 4.2rem;
    display: inline;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 112rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.label {
  color: #34d2d2;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-left: 5.5rem;
  position: relative;
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 4rem;
  margin-top: -1px;
  border-top: 2px solid currentColor;
}
