@import 'src/styles/constants';

.container {
  background-color: $mainBG;
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  p {
    color: $textBase;
    min-width: 230px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 112rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigation__links {
  display: flex;

  li {
    padding: 0 10px;
    a {
      transition: all 0.3s ease;
    }
  }

  li:hover {
    a {
      color: $secondaryColor;
    }
  }
}

.navigation__social {
  display: flex;
  li {
    border-radius: 50%;
    background: $primaryColor;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
    a {
      color: $text;
    }
  }

  li:hover {
    background: $secondaryColor;
  }
}
