@import 'src/styles/constants';

.container {
  background-color: $altBG;
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  box-shadow: 0 -10px 20px rgba(56, 87, 140, 0.05),
    0 -4px 8px rgba(0, 0, 0, 0.1);
  p {
    color: $textBase;
    min-width: 230px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 112rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    .copyrights {
      order: 3;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    .navigation__links {
      order: 1;
    }

    .navigation__social {
      order: 2;
    }
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    .copyrights {
      order: 3;
      width: 100%;
      text-align: center;
    }
    .navigation__links {
      order: 2;
      flex-direction: column;
      padding: 20px 0;

      li {
        padding: 10px;
      }
    }

    .navigation__social {
      order: 1;
      width: 100%;
      justify-content: center;
    }
  }
}

.copyrights {
  order: 1;
}

.navigation__links {
  order: 2;
  display: flex;

  li {
    padding: 0 10px;
    a {
      transition: all 0.3s ease;
    }
  }

  li:hover {
    a {
      color: $secondaryColor;
    }
  }
}

.navigation__social {
  order: 3;
  display: flex;
  li {
    border-radius: 50%;
    background: $primaryColor;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    transition: all 0.3s ease;
    a {
      color: $text;
    }
  }

  li:hover {
    background: $secondaryColor;
  }
}
