.button {
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  background: none;
  position: relative;

  position: absolute;
  top: -35px;

  transition: top 0.5s ease;
  padding: 20px;
}

.button:hover {
  top: -15px;
}
