@import 'src/styles/constants';

.container {
  background-color: $mainBGRev;

  h2 {
    color: $text;
  }
}

.wrapper {
  color: $primaryColorRev;
  display: flex;
  @extend %marginContent;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
