@import 'src/styles/constants';

.button {
  font-style: normal;
  font-size: 1.6rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  font-family: $font;
  font-weight: 600;
  line-height: 1.25;
  transition: color 0.2s linear, background-color 0.2s linear,
    background-position 0.2s linear, border-radius 0.2s linear,
    box-shadow 0.2s linear, -webkit-border-radius 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  color: $text;
  padding: 0;
  overflow: hidden;
  border-radius: 0.25em;

   // max-height: 45px;
}

.a {
  color: $text;
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
}

.b {
  color: $text;
  background: linear-gradient(to right, $primaryColor2, $secondaryColor2);
}

.c {
  color: $text;
  background: $secondaryColor;
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  min-width: 210px;
}

.d {
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  min-width: 210px;
  color: #005faf;
  border: 0.12em solid $primaryColor;
  background: $primaryColorRev;
}

.button:hover {
  border-radius: 0.25em;
}

.button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.a:before {
  background: $primaryColor;
}

.b:before {
  background: $primaryColor2;
}

.c:before {
  background: $mainBG;
}

.c:hover {
  color: $secondaryColor;
}

.d:before {
  background: $primaryColor;
}

.d:hover {
  color: $primaryColorRev;
}

.button:hover:before {
  transform: scaleX(1);
}

.button__text {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  animation-fill-mode: both;
  display: inline-block;
  padding: 0.75em 1.5em;
  animation-delay: 0.48s;
  position: relative;
  color: inherit;
  z-index: 5;
  min-width: 100%;
  background-position: 100%;
}
