.button {
  font-style: normal;
  font-size: 1.6rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.25;
  transition: color 0.2s linear, background-color 0.2s linear,
    background-position 0.2s linear, border-radius 0.2s linear,
    box-shadow 0.2s linear, -webkit-border-radius 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  position: relative;
  color: #fff;
  padding: 0;
  overflow: hidden;
  border-radius: 0.25em;
}

.a {
  color: #fff;
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  background: linear-gradient(to right, #005faf, #34d2d2);
}

.b {
  color: #fff;
  background: linear-gradient(to right, #ff823c, #ffbc47);
}

.c {
  color: #fff;
  background: #34d2d2;
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  min-width: 210px;
}

.button:hover {
  border-radius: 0.25em;
}

.button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.a:before {
  background: #005faf;
}

.b:before {
  background: #ff823c;
}

.c:before {
  background: white;
}

.c:hover {
  color: #34d2d2;
}

.button:hover:before {
  transform: scaleX(1);
}

.button:after {
  content: '';
  left: 50%;
  top: 50%;
  margin-left: -51%;
  margin-top: -51%;
  background: #006fcd;
  border-radius: 100%;
  transform: scale(0);
  transform-origin: center;
  box-shadow: 0 0 0 30px rgba(0, 111, 205, 0.3);
  width: 102%;
  padding-top: 102%;
  position: absolute;
  display: none;
  z-index: 2;
}

.button__text {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  animation-fill-mode: both;
  display: inline-block;
  padding: 0.75em 1.5em;
  animation-delay: 0.48s;
  position: relative;
  color: inherit;
  z-index: 5;
  min-width: 100%;
  background-position: 100%;
}
